<div class="page-header">
  <%= link_to new_admin_administrador_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Administrador
  <% end %>
  <h1>Lista de admin_administradores</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Admin departamento</th>
            <th>Email</th>
            <th>Senha</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @admin_administradores) do |admin_administrador| %>
            <td><%= admin_administrador.nome %></td>
            <td><%= admin_administrador.cpf %></td>
            <td><%= admin_administrador.admin_departamento %></td>
            <td><%= admin_administrador.email %></td>
            <td><%= admin_administrador.senha %></td>
            <td><%= link_to 'Mostrar', admin_administrador %></td>
        <td><%= link_to 'Editar', edit_admin_administrador_path(admin_administrador) %></td>
        <td><%= link_to 'Apagar', admin_administrador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
