<div class="page-header">
  <%= link_to admin_administradores_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_admin_administrador_path(@admin_administrador), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar admin_administrador</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_administrador.nome %></dd>

  <dt>Cpf:</dt>
  <dd><%= @admin_administrador.cpf %></dd>

  <dt>Admin departamento:</dt>
  <dd><%= @admin_administrador.admin_departamento %></dd>

  <dt>Email:</dt>
  <dd><%= @admin_administrador.email %></dd>

  <dt>Senha:</dt>
  <dd><%= @admin_administrador.senha %></dd>

</dl>
